@import '../../styles/variables.scss';

.h-feature-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    font-size: 20px;
    font-weight: bold;
    height: 24px;
    color: #f0f0f0;
    width: 300px;

    @include responsive(tablet) {
      font-size: 24px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
    padding: 24px 0;

    @include responsive(tablet) {
      overflow-x: auto;
      padding: 24px 20px;
      flex-direction: row;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
